body {
  margin: 0;
  padding: 0;
  background: url(../img/fondo2.png) no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}

.login-box {
  width: 320px;
  height: 420px;
  background: #fff;
  color: #000;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.login-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  outline: none;
  height: 40px;
  color: #000;
  font-size: 16px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #53cda5;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #e94770;
  color: #000;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.login-box a:hover {
  color: #000;
}

@media (max-width: 768px) {
  .login-box {
    width: 100%;
    margin: 0 auto;
  }

  .login-box .avatar {
    display: none;
  }

  .login-box input {
    width: 100%;
    margin-bottom: 10px;
  }

  .login-box input[type="submit"] {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .login-box h1 {
    font-size: 14px;
  }

  .login-box .login-box-content {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 320px) {
  .login-box {
    font-size: 12px;
  }

  .login-box .login-box-content {
    padding: 0 5px;
  }

  .login-box input {
    width: 100%;
    margin-bottom: 5px;
  }

  .login-box input[type="submit"] {
    width: 100%;
  }
} 