{% extends "base.html" %}
{% block title %} || Inventario {% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/select2/css/select2.min.css') }}">
<link rel="stylesheet"
    href="{{ url_for('static', filename='plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css') }}">
<link rel="stylesheet"
    href="{{ url_for('static', filename='plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
<link rel="stylesheet"
    href="{{ url_for('static', filename='plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
<link rel="stylesheet"
    href="{{ url_for('static', filename='plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">
{% endblock %}
{% block main %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Lotes de inventario</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Gestion de inventario</a></li>
                    <li class="breadcrumb-item active">Lotes</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Lotes</h3>
                        <div class="align-content-end text-right">
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#modal-insertar">
                                Insertar Lote
                            </button>
                        </div>
                    </div>

                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>

                                    <th>Nombre Producto</th>
                                    <th>Número de Lote</th>
                                    <th>Fecha de Vencimiento</th>
                                    <th>Cantidad</th>
                                    <th>Estado</th>


                                    <th>Valor Lote</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for lote in lotes %}
                                <tr>

                                    <td>{{ lote.nombre_producto }}</td>
                                    <td>{{ lote.numero_lote }}</td>
                                    <td>{{ lote.fecha_vencimiento }}</td>
                                    <td>{{ lote.cantidad_lote }}</td>
                                    <td>
                                        {% if lote.estado_lote == 1 %}
                                        <span class="badge bg-success">Activo</span>
                                        {% elif lote.estado_lote == 2 %}
                                        <span class="badge bg-danger">Vencido</span>
                                        {% elif lote.estado_lote == 3 %}
                                        <span class="badge bg-gradient-indigo">Por vencerse</span>
                                        {% elif lote.estado_lote == 4 %}
                                        <span class="badge bg-fuchsia">Sin stock</span>
                                        {% endif %}
                                    </td>


                                    <td>{{ lote.valor_lote }}</td>
                                    <td>
                                        <a href="#modal-default{{ lote.lote }}" data-toggle="modal">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>

                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Insert Modal HTML -->
    <div id="modal-insertar" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/insertar_lote" method="post" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h4 class="modal-title">Insertar Lote</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <select name="idproducto" id="producto" class="form-control select2bs4">
                            {% for productos in productos %}
                            <option value="{{productos.id}}"> {{productos.nombre}}</option>
                            {% endfor %}
                        </select>
                        <div class="form-group">
                            <label>Fecha de Vencimiento:</label>
                            <input type="date" name="fecha_vencimiento" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Cantidad:</label>
                            <input type="number" name="cantidad" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Estado:</label>
                            <select name="estado" class="form-control">
                                <option value="1">Activo</option>
                                <option value="2">Inactivo</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    {% for lote in lotes %}
    <div id="modal-default{{ lote.lote }}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/editar_lote/{{ lote.lote }}" method="post">
                    <div class="modal-header">
                        <h4 class="modal-title">Editar Lote</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label>Fecha de Vencimiento:</label>
                            <input type="date" name="fecha_vencimiento" class="form-control"
                                value="{{ lote.fecha_vencimiento }}" required>
                        </div>
                        <div class="form-group">
                            <label>Cantidad:</label>
                            <input type="number" name="cantidad" class="form-control" value="{{ lote.cantidad_lote }}"
                                required>
                        </div>
                        <div class="form-group">
                            <label>Estado:</label>
                            <select name="estado" class="form-control">
                                <option value="1" {% if lote.estado==1 %}selected{% endif %}>Activo</option>
                                <option value="2" {% if lote.estado==2 %}selected{% endif %}>Inactivo</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}

    {% for productos in horario %}
    <div id="modal-danger{{productos.id}}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content bg-danger">
                <form action="/Cambiarhorarioestado/{{productos.id}}" method="post">
                    <div class="modal-header">
                        <h4 class="modal-title">Eliminar precio producto</h4>

                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <input type="number" name="id" value="{{ productos.id }}" hidden>
                        <input type="numbre" name="estado" value="2" hidden>
                        <p>Estas seguro que quieres dar de baja a este dia</p>

                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn
                                btn-default" data-dismiss="modal" value="Cancel">
                        <button type="submit" class="btn btn-outline-light">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <!---footer---->

</section>
{% endblock %}