<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Productos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{ url_for('static', filename='css/style_servicios_generador.css') }}" rel="stylesheet">
</head>

<body>
    <!-- Price Start -->
    <div class="price">
        <div class="container">
            <div class="section-header text-center">
                <p>Nuestros productos son: </p>
                <!-- <h2>Choose Your Plan</h2> -->
            </div>
            <div class="row">
                {% for producto in productos %}
                <div class="col">
                    <div class="price-item">
                        <div class="price-header">
                            <img src="http://127.0.0.1:5000/{{ producto.logo }}" class="img-fluid rounded  w-50" alt="No hay foto del producto : /">
                            <h3>{{ producto.nombre }}</h3>
                        </div>
                        <div class="price-body">
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Price End -->

    <div class="content-wrapper">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <script>
            Swal.fire(
                '{{ category }}!',
                '{{ message }}',
                '{{ category.lower() }}'
            );
        </script>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block main %}
        <!-- Contenido específico de la página -->
        {% endblock %}
    </div>
</body>

</html>