{% extends "base.html" %}
{% block title %} || Productos{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/select2/css/select2.min.css') }}">
<link rel="stylesheet"
    href="{{ url_for('static', filename='plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css') }}">
<link rel="stylesheet"
    href="{{ url_for('static', filename='plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
<link rel="stylesheet"
    href="{{ url_for('static', filename='plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
<link rel="stylesheet"
    href="{{ url_for('static', filename='plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">
{% endblock %}
{% block main %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Productos</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Gestión de Productos</a></li>
                    <li class="breadcrumb-item active">Productos</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Lista de Productos</h3>
                        <div class="align-content-end text-right">
                            <button type="button" class="btn btn-secondary" data-toggle="modal"
                                data-target="#modal-default">Agregar
                                Productos</button>
                        </div>

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Producto</th>
                                    <th>Descripción</th>
                                    <th>Tipo</th>
                                    <th>Logo</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for productos in productos %}
                                <tr>
                                    <td>{{productos.id}}</td>
                                    <td>{{ productos.nombre }}</td>
                                    <td>{{ productos.descripcion }}</td>
                                    <td>
                                        {% if productos.tipo == 1 %}
                                        <span class="badge bg-success">Para vender</span>
                                        {% elif productos.tipo == 2 %}
                                        <span class="badge bg-blue">Uso interno</span>
                                        {% elif productos.tipo == 3 %}
                                        <span class="badge bg-gradient-fuchsia">Uso interno y para vender</span>
                                        {% endif %}
                                    </td>

                                    <th> <img src="{{productos.logo}}" alt width="50"></th>
                                    <td>
                                        {% if productos.estado == 1 %}
                                        <span class="badge bg-success">Activo</span>
                                        {% elif productos.estado == 2 %}
                                        <span class="badge bg-danger">Inactivo</span>
                                      
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="#modal-default{{productos.id}}" class="edit" data-toggle="modal">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                        <a data-toggle="modal" data-target="#modal-danger{{productos.id}}"
                                            class="fas fa-trash-alt">

                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Modal HTML -->
    <div id="modal-default" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/CrearProducto" method="post" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h4 class="modal-title">Crear productos</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" name="nombre" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Descripción</label>
                            <textarea name="descripcion" class="form-control" required></textarea>
                        </div>
                        <div class="form-group">
                            <label>Tipo</label>
                            <select name="uso" id class="form-control select2bs4">
                                <option value="1">Para venta</option>
                                <option value="2">Uso interno</option>
                                <option value="3">Uso interno y ventas</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Foto</label>
                            <input type="file" name="logo" class="form-control" required accept="image/*">
                        </div>
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="estado" id class="form-control select2bs4">
                                <option value="1">Activo</option>
                                <option value="2">Inactivo</option>
                              
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn
                                btn-default" data-dismiss="modal" value="Cancelar">
                        <input type="submit" class="btn
                                btn-success" value="Registrar">
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% for productos in productos %}
    <!-- Edit Modal HTML -->
    <div id="modal-default{{productos.id}}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/ActualizarProducto" method="post" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h4 class="modal-title">Editar producto</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">


                        <div class="form-group">
                            <input type="text" name="id" value="{{productos.id}}" hidden>
                            <label>Nombre</label>
                            <input type="text" name="nombre" class="form-control" required value="{{productos.nombre}}">
                        </div>
                        <div class="form-group">
                            <label>Descripción</label>
                            <textarea name="descripcion" class="form-control"
                                required>{{productos.descripcion}}</textarea>
                        </div>
                        <div class="form-group">
                            <label>Tipo</label>
                            <select name="uso" class="form-control select2bs4">
                                <option value=1 {% if productos.estado==1 %}selected{% endif %}>Para ventas</option>
                                <option value=2 {% if productos.estado==2 %}selected{% endif %}>Uso interno</option>
                                <option value=3 {% if productos.estado==3 %}selected{% endif %}>Uso Interno y ventas</option>
                            </select>
                        </div>
                        <div class="form-group">

                            {% if productos.logo %}
                            <label>Foto anterior</label>
                            <img src="{{ productos.logo
                                    }}" alt="Foto actual" width="50">
                            {% endif %}
                            <input type="text" name="logos" value="{{ productos.logo
                            }}" hidden>
                            <label>Foto nueva</label>
                            <input type="file" name="logo" class="form-control" value="{{productos.logo}}">
                        </div>
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="estado" class="form-control select2bs4" style="width: 100%; height: 50px" data-size="25">
                                <option value=1 {% if productos.estado==1 %}selected{% endif %}>Activo</option>
                                <option value=2 {% if productos.estado==2 %}selected{% endif %}>Inactivo</option>
                                <option value=3 {% if productos.estado==3 %}selected{% endif %}>Uso Interno</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn
                                btn-default" data-dismiss="modal" value="Cancelar">
                        <button type="submit" class="btn btn-outline-light">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}

    {% for productos in productos %}
    <div id="modal-danger{{productos.id}}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content bg-danger">
                <form action="/CambiarEstadoProducto" method="post">
                    <div class="modal-header">
                        <h4 class="modal-title">Eliminar producto</h4>

                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <input type="number" name="id" value="{{ productos.id }}" hidden>
                        <input type="number" name="estado" value="2" hidden>
                        <p>Estas seguro que quieres eliminar el producto</p>

                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn
                                btn-default" data-dismiss="modal" value="Cancelar">
                        <button type="submit" class="btn btn-outline-light">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}