{% extends "base.html" %}
{% block title %} || Reservación {% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/select2/css/select2.min.css') }}">
<link rel="stylesheet"
    href="{{ url_for('static', filename='plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css') }}">
<link rel="stylesheet"
    href="{{ url_for('static', filename='plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
<link rel="stylesheet"
    href="{{ url_for('static', filename='plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
<link rel="stylesheet"
    href="{{ url_for('static', filename='plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">
{% endblock %}
{% block main %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Reservación de servicios</h1>
            </div>

            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Gestión de reservación</a></li>
                    <li class="breadcrumb-item active">Reservación</li>


                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid slider-container">
        <div class="row slider" id="slider">

            <div class="col-md-12 slide">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Lista de reservaciones</h3>

                    </div>

                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Cliente</th>

                                    <th>Celular</th>
                                    <th>Fecha</th>
                                    <th>Hora inicio</th>
                                    <th>Hora de finalización</th>
                                    <th>Servicio</th>
                                    <th>Valor</th>
                                    <th>Método de pago</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reservacion in reservaciones %}
                                <tr>
                                    <td>{{ reservacion.codigo }}</td>
                                    <td>{{ reservacion.cliente }}</td>
                                    <td>{{reservacion.celular}}</td>
                                    <td>

                                        {{ reservacion.fecha }}

                                    </td>
                                    <td>{{ reservacion.hora_inicio }}</td>
                                    <td>{{ reservacion.hora_fin }}</td>
                                    <td>{{ reservacion.servicio }}</td>
                                    <td>{{ reservacion.subtotal }}</td>
                                    <td>{{reservacion.metodo}}</td>
                                    <td>

                                        {% if reservacion.estado == 1 %}
                                        <span class="badge bg-success">Activo</span>
                                        {% elif reservacion.estado == 2 %}
                                        <span class="badge bg-danger">Cancelado</span>
                                        {% elif reservacion.estado == 3 %}
                                        <span class="badge bg-gradient-indigo">Vencido</span>
                                        {% elif reservacion.estado == 5 %}
                                        <span class="badge bg-gradient-fuchsia">En proceso</span>
                                        {% elif reservacion.estado == 4 %}
                                        <span class="badge bg-gradient-lightblue">Realizado</span>
                                        {% endif %}
                                    </td>
                                    <td> <a data-toggle="modal" data-target="#modal-default{{reservacion.id}}"><i
                                                class="fas fa-pencil-alt"></i></a>
                                            </td>



                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="col-md-12 slide">

                    <div class="card">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item"
                                src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FManagua&showNav=1&showCalendars=0&showTabs=1&showDate=1&showTz=0&src=aW5nc29mdHdhcjEyM0BnbWFpbC5jb20&color=%23039BE5"
                                frameborder="0" scrolling="no"></iframe>
                        </div>


                    </div>


                </div>
            </div>

        </div>
    </div>
    {% for categoria in reservaciones %}
    <div class="modal fade" id="modal-default{{categoria.id}}">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/cancelarcitas" method="post" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h4 class="modal-title">Cancelar  Reservación de {{categoria.servicio}}</h4>
                        <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Cliente</label>
                          <input type="text" class="form-control" value="{{categoria.cliente}}" readonly>
                        </div>
                        <input type="text" name="celular" value="{{categoria.celular}}" hidden>
                        <input type="text" name="idevents" value="{{categoria.idevento_calendar}}" hidden>
                        <input type="text" name="id" value="{{categoria.id}}" hidden>
                        <div class="form-group">
                            <label>Fecha</label>
                            <input type="text" name="nombre" id="nombre"
                                value="{{categoria.fecha}}"
                                class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label>Hora de inicio</label>
                            <input type="text" name="nombre" id="nombre"
                                value="{{categoria.hora_inicio}}"
                                class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label for="">Hora de finalización</label>
                            <input type="text" class="form-control" value="{{categoria.hora_fin}}" readonly>
                        </div>
                        <div class="form-group">
                            <label>Motivo</label>
                            <textarea id="descripcion" name="motivo"
                                class="form-control" required></textarea>
                        </div>
                       
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-danger"
                            data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    {% endfor %}
    <style>
        /* Añade estilo a los botones */
        .embed-responsive .btn {
            background-color: #007bff;
            /* Color de fondo del botón */
            color: #fff;
            /* Color del texto del botón */
            border: 1px solid #007bff;
            /* Borde del botón */
        }

        /* Cambia el estilo del encabezado del calendario */
        .embed-responsive .card-header {
            background-color: #007bff;
            /* Color de fondo del encabezado de la tarjeta */
            color: #fff;
            /* Color del texto del encabezado de la tarjeta */
        }

        /* Cambia el estilo del cuerpo de la tarjeta */
        .embed-responsive .card-body {
            background-color: #f8f9fa;
            /* Color de fondo del cuerpo de la tarjeta */
        }

        /* Cambia el estilo de la tabla dentro de la tarjeta */
        .embed-responsive .table {
            background-color: #fff;
            /* Color de fondo de la tabla */
            color: #495057;
            /* Color del texto de la tabla */
        }

        /* Cambia el estilo de las celdas de la tabla */
        .embed-responsive .table th,
        .embed-responsive .table td {
            border: 1px solid #dee2e6;
            /* Borde de las celdas de la tabla */
        }

        /* Añade un sombreado sutil a la tarjeta */
        .embed-responsive .card {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            /* Sombra de la tarjeta */
        }
    </style>
    <!-- CALENDARIO DE GOOGLE CALENDAR -->
    <script>
        let currentSlide = 0;
        const slides = document.querySelectorAll('.slide');
        const slider = document.getElementById('slider');

        function changeSlide(direction) {
            currentSlide += direction;

            if (currentSlide < 0) {
                currentSlide = slides.length - 1;
            } else if (currentSlide >= slides.length) {
                currentSlide = 0;
            }

            const translateValue = -currentSlide * 100 + '%';
            slider.style.transform = 'translateX(' + translateValue + ')';
        }
    </script>
</section>
{% endblock %}