{% extends "base.html" %}
{% block title %} || Ventas{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/select2/css/select2.min.css') }}">
<link rel="stylesheet"
    href="{{ url_for('static', filename='plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css') }}">
<link rel="stylesheet"
    href="{{ url_for('static', filename='plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
<link rel="stylesheet"
    href="{{ url_for('static', filename='plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
<link rel="stylesheet"
    href="{{ url_for('static', filename='plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">
{% endblock %}
{% block main %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Ventas</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Gestion de Ventas</a></li>
                    <li class="breadcrumb-item active">Ventas</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card col-md-12">

                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h4 class="font-weight-bold text-primary mb-0">¡Bienvenido al Registro de Ventas!</h4>
                        </div>
                        <div class="col text-right">
                            <div class="btn-group">
                                <a class="btn btn-success" href="/ventasproductos">Generar Venta por Producto</a>
                                <a class="btn btn-info" href="/ventaservicios">Generar Venta por Servicios</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="nav  nav-tabs" id="vert-tabs-tab" role="tablist" aria-orientation="horizontal">
                    <a class="nav-link active" id="vert-tabs-home-tab" data-toggle="pill" href="#vert-tabs-home"
                        role="tab" aria-controls="vert-tabs-home" aria-selected="true">Ventas generales</a>

                    <a class="nav-link" id="vert-tabs-messages-tab" data-toggle="pill" href="#vert-tabs-messages"
                        role="tab" aria-controls="vert-tabs-messages" aria-selected="false"> <span
                            class="badge badge-pill badge-info">
                            {{ cantidad }}
                        </span>Ventas por citas</a>

                </div>


                <div class="tab-content mt-2" id="vert-tabs-tabContent">

                    <div class="tab-content mt-2" id="vert-tabs-tabContent">
                        <div class="tab-pane text-left fade show active" id="vert-tabs-home" role="tabpanel"
                            aria-labelledby="vert-tabs-home-tab">
                            <div class="table-responsive  table-responsive-md">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Codigo</th>
                                            <th>Fecha realizacion</th>
                                            <th>Tipo de venta</th>
                                            <th>Cliente</th>
                                            <th>ITEM</th>
                                            <th>cantidad</th>
                                            <th>Precio unitario</th>
                                            <th>Subtotal</th>
                                            <th>Total</th>
                                            <th>Tipo de pago</th>
                                            <th>Estado</th>
                                            <th>Acciones</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for venta in ventas %}
                                        <tr>
                                            <td>{{venta.venta_id }}</td>
                                            <td>{{ venta.codigo }}</td>
                                            <td>{{ venta.fecha }}</td>
                                            <td>
                                                {% if venta.subtotal_detalle_venta %}
                                                Venta por servicio
                                                {% elif venta.subtotal_venta_producto %}
                                                Venta por producto
                                                {% elif venta.subtotalcita %}
                                                Venta por cita
                                                {% else %}
                                                Desconocido
                                                {% endif %}
                                            </td>
                                            <td>{{ venta.persona_nombre }}</td>
                                            <td>
                                                {% if venta.producto_nombre %}
                                                {{ venta.producto_nombre }}
                                                {% elif venta.servicio_nombre %}
                                                {{ venta.servicio_nombre }}
                                                {% elif venta.citas %}
                                                {{ venta.citas }}
                                                {% else %}
                                                No hay nombre disponible
                                                {% endif %}
                                            </td>
                                            <td>{{ venta.cantidad_detalle_venta or venta.cantidad_venta_producto or 'No
                                                hay cantidad' }}</td>
                                            <td>{{ venta.precio_unitario_detalle_venta or venta.precio_unitario_producto
                                                or venta.precios or 'No hay precio unitario' }}</td>
                                            <td>{{ venta.subtotal_detalle_venta or venta.subtotal_venta_producto or
                                                venta.subtotalcita or 'No hay subtotal' }}</td>
                                            <td>{{ venta.totales }}</td>
                                            <td>{{ venta.tipo_venta_nombre }}</td>
                                            <td>
                                                {% if venta.venta_estado == 1 %}
                                                <span class="badge bg-primary">No cancelada</span>
                                                {% elif venta.venta_estado == 2 %}
                                                <span class="badge bg-danger">Anulada</span>
                                                {% elif venta.venta_estado == 3 %}
                                                <span class="badge bg-success">Cancelada</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if venta.venta_estado == 1 %}
                                                
                                                <a href="" data-toggle="modal"
                                                data-target="#myModals{{ venta.venta_id }}"><i class=" fas fa-edit"
                                                    aria-hidden="true"></i></a>
                                            
                                                {% endif %}

                                             
                                            </td>
                                        </tr>
                                        <div class="modal fade" id="myModals{{ venta.venta_id }}" tabindex="-1"
                                            role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Saldar venta</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form id="{{ venta.venta_id }}" action="/cambiarestadoventa"
                                                            method="POST">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" name="id"
                                                                    value="{{ venta.venta_id }}" hidden>
                                                            </div>
                                                            <p></p>
                                                            <div class="text-center">
                                                                <button type="submit" class="btn btn-success">Saldar
                                                                    venta</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <div class="tab-pane fade" id="vert-tabs-messages" role="tabpanel"
                            aria-labelledby="vert-tabs-home-tab">
                            <div class="container mt-5">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="inputTelefono"
                                        placeholder="Buscar por teléfono">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button" id="btnBuscar">Buscar</button>
                                        <button class="btn btn-secondary btn-block" type="button"
                                            id="btnLimpiar">Limpiar</button>
                                    </div>
                                </div>

                                <div class="row">
                                    {% for reserva in reservaciones %}
                                    <div class="col-md-3 mb-4">
                                        <div class="card busqueda">
                                            <div class="card-body">
                                                <h5 class="card-title">Reservación #{{ reserva.id }}</h5>
                                                <p class="card-text">Cliente: {{ reserva.cliente }}</p>
                                                <p class="card-text card-text-telefono">Celular: {{ reserva.celular }}
                                                </p>
                                                <p class="card-text">Hora inicio: {{ reserva.hora_inicio }}</p>
                                                <p class="card-text">Hora fin: {{ reserva.hora_fin }}</p>
                                                <p class="card-text">Total: ${{ reserva.subtotal }}</p>
                                                <p class="card-text">Estado:</p>
                                                <button type="button" class="btn btn-info" data-toggle="modal"
                                                    data-target="#myModal{{ reserva.id }}">
                                                    Generar venta
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal para cada reservación -->
                                    <div class="modal fade" id="myModal{{ reserva.id }}" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Generar venta
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form id="enviarInfoForm{{ reserva.id }}" action="/ventacitas"
                                                        method="POST">
                                                        <div class="form-group">
                                                            <label for="subtotal{{ reserva.id }}">Total:</label>
                                                            <input type="text" class="form-control"
                                                                id="subtotal{{ reserva.id }}"
                                                                value="{{reserva.subtotal}}" readonly>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="reservaId{{ reserva.id }}">Codigo
                                                                Reserva:</label>
                                                            <input type="text" class="form-control"
                                                                id="reservaId{{ reserva.id }}"
                                                                value="{{reserva.codigo}}" readonly>
                                                            <input type="text" class="form-control"
                                                                id="reservaId{{ reserva.id }}" name="id"
                                                                value="{{reserva.id}}" hidden>
                                                            <input type="text" class="form-control" name="subtotal"
                                                                value="{{reserva.subtotal}}" hidden>
                                                            <input type="text" class="form-control" name="idcliente"
                                                                value="{{reserva.idcliente}}" hidden>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="tipo_venta">Tipo de Venta:</label>
                                                            <select class="form-control select2bs4" id="tipo_venta"
                                                                name="tipo_venta" required>
                                                                {% for tipo in tipos %}
                                                                <option value="{{ tipo.id }}" {% if
                                                                    reserva.id_metodo_pago==tipo.id %}selected{% endif
                                                                    %}>{{
                                                                    tipo.nombre }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <button type="submit" class="btn btn-success">Generar</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Script para la búsqueda en tiempo real sin jQuery -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Manejar la búsqueda en tiempo real por número de teléfono
        document.getElementById('btnBuscar').addEventListener('click', function () {
            var telefono = document.getElementById('inputTelefono').value.toLowerCase();
            if (telefono.trim() === '') {
                // Mostrar una alerta SweetAlert indicando que el campo está vacío
                Swal.fire({
                    icon: 'warning',
                    title: 'Campo Vacío',
                    text: 'Por favor, ingrese un número de teléfono antes de buscar.'
                });
                return; // Detener la ejecución si el campo está vacío
            }
            var encontrados = false;

            document.querySelectorAll('.busqueda').forEach(function (card) {
                var cardTelefono = card.querySelector('.card-text-telefono').textContent.toLowerCase();
                var displayStyle = cardTelefono.includes(telefono) ? 'block' : 'none';
                card.style.display = displayStyle;

                if (displayStyle === 'block') {
                    encontrados = true;
                }
            });

            // Mostrar una alerta si no se encontraron registros
            if (!encontrados) {
                Swal.fire({
                    icon: 'info',
                    title: 'No se encontraron registros',
                    text: 'No hay registros que coincidan con la búsqueda.'
                });
            }
        });

        // Restaurar la visibilidad de todas las tarjetas al hacer clic en el botón Limpiar
        document.getElementById('btnLimpiar').addEventListener('click', function () {
            document.querySelectorAll('.card').forEach(function (card) {
                card.style.display = 'block';
            });
            // Limpiar el campo de búsqueda
            document.getElementById('inputTelefono').value = '';
        });
    });

</script>
{% endblock %}